body{
    font-family: Verdana,sans-serif;
    color:#666666;
}
h1{
    font-size:48px;
}
.title_row{
    margin-top:26px;
}
.page_title{
    color:#666666;
}
.subtitle,.box_title{
    color:#F07C17;
}
.box_title{
    font-size:24px;
    font-weight:600;
    margin-bottom:30px;
}
.subtitle{
    font-weight:600;
    margin:0;
    margin-bottom:30px;
    font-size:24px;
}
.features_box{
    border:solid 1px;
    border-color: #CCCCCC;
    margin-top:30px;
    margin-left:0px;
    margin-right:0px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:30px;
}
.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
.content-row{
    margin-top:20px;
}
.text_column{
    font-size:16px;
    line-height:2;
}
.mug_column{
    /*margin-right:10px;*/
}
.feature_list{
    line-height:2;
    font-size:16px;
}
