body {
    font-family: Verdana,sans-serif;
    color: #666;
}

h1 {
    font-size: 48px;
}

.title_row {
    margin-top: 26px;
}

.page_title {
    color: #666;
}

.subtitle,.box_title {
    color: #f07C17;
}

.box_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
}

.features_box {
    border: solid 1px;
    border-color: #ccc;
    margin: 30px 0 0 0;
    padding: 10px 30px 30px 0;
}

.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.content-row {
    margin-top: 20px;
}

.text_column {
    font-size: 16px;
    line-height: 2;
}

.mug_column {
    /*margin-right:10px;*/
}

.feature_list {
    line-height: 2;
    font-size: 16px;
}
